.close-Icon {
    color: white;
    float: right;
    position: relative;
    /* right: 40px; */
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
}
.sidenav {
    display: block;
    height: 100%;
    width: 100%; 
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(71, 70, 70);
    overflow-x: hidden; 
    transition: 0.5s; 
}
.content {
    font-size: 31.25px;
    font-weight: 700;
    color: white;
    margin: 50px auto;
} 
 